# Acquire

### Original Data Set

__Shape:__ 
    
    (1000,9)
    (rows, columns)

__Stats:__ 
    
- Only statistics for column - Rank were given. 
- 'Rank' does not need stats. 
- Other stats can be attained from the below columns once cleaned to be numerical.

        - Subscribers Count 
        - Views. Avg
        - Likes. Avg 
        - Comments. Avg 
        - Shares. Avg

__Info__:

- 'Name' has 2 null values
- All columns except 'Rank' are objects
- These columns will be changed to a float because that is a usuable dtype.

        - Subscribers Count 
        - Views. Avg 
        - Likes. Avg
        - Comments. Avg 
        - Shares. Avg
- rename columns to be lowercase and snakecase

__Data Types:__

- All columns except 'Rank' are objects
- These columns will be changed to a float because that is a usuable dtype.

        - Subscribers Count
        - Views. Avg 
        - Likes. Avg 
        - Comments. Avg
        - Shares. Avg

__Null/ NA Values:__
    

- 'Name' contains 2 null values.

__Unique Value Count:__

    Rank                 1000
    Username              997 (3 DUPLICATES)
    Tiktok Link           997 (3 DUPLICATES)
    Name                  991 (7 DUPLICATES, 2 NULL)
    Subscribers Count     413
    Views. Avg            128
    Likes. Avg            879
    Comments. Avg         255
    Shares. Avg           376
    
    Because of the 1:1 identifying nature of 
        - Username 
        - Tiktok Link 
        - Name
    I am able to quickly see there are duplicates present in these columns. The remaining columns do not follow the same 1:1 nature thus the presence of duplicate values is not relevent.

__To Do for Data Cleaning:__

__X__ Convert these columns to be numerical.

        - Subscribers Count
        - Views. Avg
        - Likes. Avg 
        - Comments. Avg
        - Shares. Avg'

__X__ Rename columns to be formatted as all lowercase and in snakecase. Remove periods from names.

__X__ Format name to be all lowercase and in snakecase

__X__ Find and delete duplicate values in
    
        - Username
            - drop annajobling @ index 101
            - drop kanebrown @ index 102
            - drop nolaymex @ index 100
        ___________________________________   
        - Tiktok Link
            column dropped
        ___________________________________
        - Name
            Drop:
            - drop nolay @ index 100
            - drop annajobling @ index 101
            - drop kanebrown @ index 102
            ---------------------------------------------------------------
            Do not drop:
            - different tiktok accounts: fernanda @ index 22 and 191
            - different tiktok accounts: max_taylor @ index 92 and 195
            - different tiktok accounts: tommy @ index 288 and 785
            - different tiktok accounts: mikaela_testa @ index 210 and 949
            ---------------------------------------------------------------
            Look in to:
            - name 'NaN' probably refers to null values
            
            null values are located in column 'name' @ index 490 and 686. Because I do not plan to use name but am keeping it for identification and reference, these null values can remain as is
        ___________________________________________________________________
        Finalized Duplicates to Drop:
            - drop annajobling @ index 101
            - drop kanebrown @ index 102
            - drop nolaymex @ index 100

__X__ Remove tiktok link. The link format is below.

        https://www.tiktok.com/@Username