# Imports

In [1]:
# standard imports
import numpy as np
import pandas as pd
# visualization
import matplotlib.pyplot as plt
import seaborn as sns
# notebook formatting
from pprint import pprint
import warnings
warnings.filterwarnings("ignore")

    My acquired data set is named "Top 1000 Tiktokers all over the world". The csv file was downloaded from kaggle:
https://www.kaggle.com/datasets/syedjaferk/top-1000-tiktokers

    The data was published to kaggle by user Syed Jafer using collection method - scrapping and source - internet. No date is available.

__Data Dictionary:__

    Rank - Overall rank based on followers and popularity

    Username - handle used in tiktok.
    
    Tiktok Link - Url for the user.

    Name: Account Name

    Subscribers Count: No of subscribers/followers

    Views. Avg: Avg Views of the content.

    Likes Avg: Average likes

    Comments. Avg: Average Comments
    
    Shares. Avg: Average Shares

In [13]:
df = pd.read_csv('top_1000_tiktokers.csv')

In [17]:
df.head()

,Rank,Username,Tiktok Link,Name,Subscribers Count,Views. Avg,Likes. Avg,Comments. Avg,Shares. Avg
0,1,badbunny,https://www.tiktok.com/@badbunny,Bad Bunny,23.4M,63.1M,10.3M,65.2K,108.6K
1,2,noahschnapp,https://www.tiktok.com/@noahschnapp,Noah Schnapp,26.1M,23.4M,4.8M,46.7K,22.1K
2,3,khaby.lame,https://www.tiktok.com/@khaby.lame,Khabane lame,145.9M,47.5M,2.5M,46K,9.4K
3,4,coopernoriega,https://www.tiktok.com/@coopernoriega,Cooper Noriega,3.2M,31M,1.3M,120.9K,8.4K
4,5,avrillavigne,https://www.tiktok.com/@avrillavigne,Avril Lavigne,4M,24.7M,3.5M,32.1K,22.7K

In [16]:
# summarize data/ inital glace at data
print('_'*50)
print(f'Shape: \n{df.shape}')
print('_'*50)
print(f'Stats: \n{df.describe().T}')
print('_'*50)
print('Info: ')
print(df.info())
print('_'*50)
print(f'Data Types: \n{df.dtypes}')
print('_'*50)
print(f'Null Values: \n{df.isnull().sum()}')
print('_'*50)
print(f'NA Values: \n{df.isna().sum()}')
print('_'*50)
print(f'Unique Value Count: \n{df.nunique()}')
print('_'*50)
print(f'Columns: \n{df.columns}')
print('_'*50)
print(f'Column Value Counts: \n{df.columns.value_counts(dropna=False)}')
print('_'*50)

__________________________________________________
Shape:
(1000, 9)
__________________________________________________
Stats:
       count   mean         std  min     25%    50%     75%     max
Rank  1000.0  500.5  288.819436  1.0  250.75  500.5  750.25  1000.0
__________________________________________________
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               1000 non-null   int64
 1   Username           1000 non-null   object
 2   Tiktok Link        1000 non-null   object
 3   Name               998 non-null    object
 4   Subscribers Count  1000 non-null   object
 5   Views. Avg         1000 non-null   object
 6   Likes. Avg         1000 non-null   object
 7   Comments. Avg      1000 non-null   object
 8   Shares. Avg        1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB
None
__________________________________________________
Data Types:
Rank                  int64
Username             object
Tiktok Link          object
Name                 object
Subscribers Count    object
Views. Avg           object
Likes. Avg           object
Comments. Avg        object
Shares. Avg          object
dtype: object
__________________________________________________
Null Values:
Rank                 0
Username             0
Tiktok Link          0
Name                 2
Subscribers Count    0
Views. Avg           0
Likes. Avg           0
Comments. Avg        0
Shares. Avg          0
dtype: int64
__________________________________________________
NA Values:
Rank                 0
Username             0
Tiktok Link          0
Name                 2
Subscribers Count    0
Views. Avg           0
Likes. Avg           0
Comments. Avg        0
Shares. Avg          0
dtype: int64
__________________________________________________
Unique Value Count:
Rank                 1000
Username              997
Tiktok Link           997
Name                  991
Subscribers Count     413
Views. Avg            128
Likes. Avg            879
Comments. Avg         255
Shares. Avg           376
dtype: int64
__________________________________________________
Columns:
Index(['Rank', 'Username', 'Tiktok Link', 'Name', 'Subscribers Count',
       'Views. Avg', 'Likes. Avg', 'Comments. Avg', 'Shares. Avg'],
      dtype='object')
__________________________________________________
Column Value Counts:
Rank                 1
Username             1
Tiktok Link          1
Name                 1
Subscribers Count    1
Views. Avg           1
Likes. Avg           1
Comments. Avg        1
Shares. Avg          1
dtype: int64
__________________________________________________